[submodule ".registry"]
	path = .registry
	url = https://github.com/sigmafelix/sigmafelix.r-universe.dev
	branch = HEAD
[submodule "tidycensuskr"]
	path = tidycensuskr
	url = https://github.com/sigmafelix/tidycensuskr
[submodule "tidycensuskr.sf"]
	path = tidycensuskr.sf
	url = https://github.com/sigmafelix/tidycensuskr.sf
