[submodule ".registry"]
	path = .registry
	url = https://github.com/sigmafelix/sigmafelix.r-universe.dev
	branch = HEAD
[submodule "tidycensuskr"]
	path = tidycensuskr
	url = https://github.com/sigmafelix/tidycensuskr
[submodule "tidycensussfkr"]
	path = tidycensussfkr
	url = https://github.com/sigmafelix/tidycensussfkr
